<h1>Products</h1>

<ul>
<% @products.each do |product| %>
  <li><%= product.name %></li>
  <li>Total Stock <%= product.total_stock %></li>
  <li>Product Price <%= product.stock_price %></li>
  <a href="/products/<%= product.id %>">Show Current Subscribers</a>
<% end %>
</ul>

<a href="/products/new"> Add new product </a>
